h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button {
  border: 2px solid black;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  text-align: center;
}

.slider-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.slider-zone ul {
  background-color: white;
  border: 1px solid black;
  list-style-type: none;
}

.slider-zone ul li {
  display: flex;
  justify-content: space-between;
}

.slider-zone ul li span {
  text-align: right;
  width: 48px;
}
